.account {
    font-size: 50px;
    width: auto;
}

.diem-container {
    margin-top: 130px !important;
    position: fixed;
    height: 100vh;
    display: flex !important;
    width: 100vw;
}

.menu {
    border-right: 3px solid #000;
    background-color: #D9D9D9;
    padding-right: 0 !important;

}

.menu a {
    text-decoration: none;
}

.list-menu {
    height: 50px;
    text-align: center;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 500;
    background-color: #ffffff;
}

.list-menu:hover {
    cursor: pointer;
    opacity: 0.7;
}

.hocphi,
.thoikhoabieu,
.thongtincanhan {
    background-color: #ffffff;
    color: #000000;
}

.diem {
    background-color: #A95757;
    color: #ffffff;
}

.table-diem {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table-diem td, .table-diem th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table-diem tr:nth-child(even){background-color: #f2f2f2;}
  
  .table-diem tr:hover {background-color: #ddd;}
  
  .table-diem th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .logout_btn {
    margin-left: 20px;
  }